.swiper
    width: 100%
    height: 100%
.swiper-slide
    text-align: center
    font-size: 18px
    background: #fff
/* Center slide text vertically */
    display: -webkit-box
    display: -ms-flexbox
    display: -webkit-flex
    display: flex
    -webkit-box-pack: center
    -ms-flex-pack: center
    -webkit-justify-content: center
    justify-content: center
    -webkit-box-align: center
    -ms-flex-align: center
    -webkit-align-items: center
    align-items: center
.swiper-slide img
    display: block
    width: 100%
    height: 100%
    object-fit: cover

.index_three_card
    .col>div
        position: relative //overflow: hidden 放class才有效果
    img
        transition: .5s
    .col:hover img
        transform: scale(1.2)
    .banner
        position: absolute
        top: 0
        right: 0
        left: 0
        bottom: 0
        transition: .5s
    .col:hover .banner
        display: block
        background: radial-gradient(ellipse at center, rgb(255, 255, 255,0) 0%, rgb(255, 255, 255,.5) 62%, rgb(208, 208, 208,.5) 100%)

// animated
//滾動出現的三大區塊
.animated_fast
    opacity: 0
    transition: all 1s
    //隱藏先下推 
    transform: translateY(50px) !important //放class才有用
.animated
    opacity: 0
    transition: all 2s
    //隱藏先下推 
    transform: translateY(50px) !important //放class才有用
.animated_slow
    opacity: 0
    transition: all 3s
    //隱藏先下推 
    transform: translateY(50px) !important //放class才有用
//出現再校正回歸
.fadeIn
    opacity: 1
    transform: translate(0px, 0px) !important

.index_three_iconBox
    .col>div
        border: 5px solid $white
        transition: border .8s
        &:hover
            border: 5px solid $santa
    h3
        color: $santa
        font-weight: 600
        font-size: 20px

.index_three_smallCard
    margin-top: 100px
    padding-bottom: 80px
    h2
        font-size: 20px
    h3,p
        font-size: 28px
    strong
        font-size: 88px
        color: $santa
