.navbar-default{
border:none;
border-radius: 0px;
background:#009BDD;
}
.navbar-collapse{
padding: 0px;
margin: 0px;
}
nav ul{
width: 100% !important;
}
nav ul li{
display: inline;
position: relative;
}
nav ul li ul{
width: 175px !important;
position: absolute;
top:50px;
left:0;
padding: 0;
display: none;
}
nav ul li:hover{
background-color: #007DA7;
}
nav ul li ul li a{
display:block;
padding:10px;
background: #009BDD;
border-bottom: 1px solid #fff;
}
nav ul li ul li ul{
left: 175px;
top:-27px;
position: absolute;
display: none;
}
nav ul .fa-sort-desc{
position: relative;
top: -3px;
right: -5px;
}
nav ul li ul li i{
margin-left:20px !important;
}
nav ul li a:hover{
background:#007DA7 !important;
text-decoration: none;
}
nav ul li a{
text-decoration: none;
font-weight: bold;
text-transform: uppercase;
color: #fff !important;
}
nav ul li:hover > ul{
display: block;
}
.stylish-input-group .input-group-addon{
background: white !important;
}
.stylish-input-group .form-control{
border-right:0;
box-shadow:0 0 0;
border-color:#ccc;
}
.stylish-input-group button{
border:0;
background:transparent;
}
nav ul .search, nav ul .custom-login, nav ul .custom-register{
float: right;
}
nav ul .search{
margin: 7px 10px 0px 0px;
border-radius:4px;
width:100px;
}
@media only screen and (max-width:480px) {
.navbar-default{
background-color:#009BDD;
}
.navbar-default .navbar-toggle .icon-bar{
background-color: #fff;
}
.navbar-collapse{
padding:10px 20px;
}
nav ul li ul{
top:0px;
width:100% !important;
position: relative;
}
nav ul ul li ul{
position: relative !important;
width: 100% !important;
}
nav ul li ul li ul{
top:1px !important;
left:0px !important;
}
nav ul .search,nav ul .custom-login,nav ul .custom-register{
float:unset;
}
}