.navbar{
    // height:77px !important;
}
.navbar-collapse{
    a{
        text-align: center;
        color:black;
        font-weight: 500;
    }
}
.nav_link_special{
    height:35px !important;
    
}
@include maxpc(){
    .navbar-collapse li:last-child{
        width: 25%;
    }
}


footer{
    h3{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 30px;
    }
    ul li:last-child{
        margin-bottom: 30px;
    }
    li{
        padding-bottom: 0px;
    }
    a{
        font-size: 14px;
    }
}